/* Coolors Exported Palette - https://coolors.co/2e75b2-d5573b-861657-1a1d1a-ebebeb */

/* CSS HEX */
--ucla-blue: #2e75b2ff;
--jasper: #d5573bff;
--murrey: #861657ff;
--eerie-black: #1a1d1aff;
--antiflash-white: #ebebebff;

/* CSS HSL */
--ucla-blue: hsla(208, 59%, 44%, 1);
--jasper: hsla(11, 65%, 53%, 1);
--murrey: hsla(325, 72%, 31%, 1);
--eerie-black: hsla(120, 5%, 11%, 1);
--antiflash-white: hsla(0, 0%, 92%, 1);

/* SCSS HEX */
$ucla-blue: #2e75b2ff;
$jasper: #d5573bff;
$murrey: #861657ff;
$eerie-black: #1a1d1aff;
$antiflash-white: #ebebebff;

/* SCSS HSL */
$ucla-blue: hsla(208, 59%, 44%, 1);
$jasper: hsla(11, 65%, 53%, 1);
$murrey: hsla(325, 72%, 31%, 1);
$eerie-black: hsla(120, 5%, 11%, 1);
$antiflash-white: hsla(0, 0%, 92%, 1);

/* SCSS RGB */
$ucla-blue: rgba(46, 117, 178, 1);
$jasper: rgba(213, 87, 59, 1);
$murrey: rgba(134, 22, 87, 1);
$eerie-black: rgba(26, 29, 26, 1);
$antiflash-white: rgba(235, 235, 235, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #2e75b2ff, #d5573bff, #861657ff, #1a1d1aff, #ebebebff);
$gradient-right: linear-gradient(90deg, #2e75b2ff, #d5573bff, #861657ff, #1a1d1aff, #ebebebff);
$gradient-bottom: linear-gradient(180deg, #2e75b2ff, #d5573bff, #861657ff, #1a1d1aff, #ebebebff);
$gradient-left: linear-gradient(270deg, #2e75b2ff, #d5573bff, #861657ff, #1a1d1aff, #ebebebff);
$gradient-top-right: linear-gradient(45deg, #2e75b2ff, #d5573bff, #861657ff, #1a1d1aff, #ebebebff);
$gradient-bottom-right: linear-gradient(135deg, #2e75b2ff, #d5573bff, #861657ff, #1a1d1aff, #ebebebff);
$gradient-top-left: linear-gradient(225deg, #2e75b2ff, #d5573bff, #861657ff, #1a1d1aff, #ebebebff);
$gradient-bottom-left: linear-gradient(315deg, #2e75b2ff, #d5573bff, #861657ff, #1a1d1aff, #ebebebff);
$gradient-radial: radial-gradient(#2e75b2ff, #d5573bff, #861657ff, #1a1d1aff, #ebebebff);